# Dependencies
node_modules/

# Build outputs
out/
dist/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# TypeScript
*.tsbuildinfo
